body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.image-section,
.cartoon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    font-size: 24px;
    font-weight: bold;
}

input[type="file"] {
    margin: 20px 0;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
}

img {
    max-width: 100%;
    margin: 20px 0;
}

#downloadButton {
    margin-top: auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#cartoonifiedImage {
    max-width: 100%;
}
